.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #f7f7f7;
  padding: 0;
  flex-direction: column; 
}

.login-page .form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 550px;
  width: 90%; 
  margin: 0 auto; 
}

.login-page .form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.login-page .form-control:focus {
  border-color: #f9a825;
  box-shadow: none;
}

.login-page .form-label {
  font-weight: bold;
  color: #495057;
}

.login-page button[type="submit"] {
  background-color: #f9a825; 
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; 
}

.login-page button[type="submit"]:hover {
  background-color: #c68400; 
}

.login-page button[type="submit"]:focus {
  outline: none;
}

.login-page .alert {
  font-size: 14px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.login-page .form-check-input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.login-page .form-check-label {
  padding-left: 10px;
  color: #495057;
}

.register-button {
  border: 2px solid #f9a825; 
  color: #f9a825;
  transition: all 0.3s ease;
}

.register-button:hover {
  background-color: #f9a825;
  color: #ffffff;
  border: 2px solid #f9a825; 

}

.register-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(249, 168, 37, 0.5); 
}

.login-page button[type="submit"] {
  position: relative;
}

.login-page .spinner-border {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
