.home-container {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
}

.home-container h2 {
  color: #f9a825;
  font-weight: bold;
  margin-top: 20px;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  opacity: 0.6;
  background-color: #000;
}

.carousel-caption {
  text-align: center;
  color: white;
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.carousel-caption button {
  font-size: 1.5rem;
  padding: 5px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #f9a825 !important;
  border: none;
  color: white;
}

.carousel-caption button:hover {
  background-color: #e64a19 !important;
  color: white;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.info-card {
  background-color: #1d1d1d;
  color: #ffffff;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.info-card p {
  color: #cccccc;
  font-size: 14px;
}

.btn-orange {
  background-color: #f9a825 !important;
  color: white !important;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-orange:hover {
  background-color: #e64a19 !important;
  color: white !important;
}


.btn-banner {
  background-color: #ffffff;
  color: #ff5722;
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.featured-products {
  padding: 20px;
  background-color: #f9f9f9;
}

.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.featured-products h2 {
  color: #ffb74d;
  font-weight: bold;
}
